*{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;
    line-height: 2rem;
}

.container{
    display: flex;
    flex-direction: row;
}

.container-left{
    width: 30.33%;
    height: 100vh;
    background-color: #6086a4;
    margin-left: 1rem;
}

.container-right{
    width: 66.33%;
    height: 100vh;
    line-height: 1rem;
}

#head{
    background-color: #6086a4 ;
    height: 12rem;
    text-align: center;
}

#head > h1{
    padding-top: 3rem;
    background-color: #6086a4;
    font-size: 4rem;
}

#head > p{
    background-color: #6086a4 ;
    padding-top: 0;
    padding-bottom: 3rem;
    word-spacing: 0.6rem;
    letter-spacing: 0.5rem;
    font-weight: bold;
}

.top-left{
    background-color:#6086a4 ;
    text-align: center;
    padding-top: 4rem;
}

i{
    background-color: #6086a4;
}

#left{
    background: #6086a4;
    line-height: 5rem;
    justify-self: center;
}

#left h1,h3{
    background-color: #6086a4;
    line-height: 3rem;
}

#left p{
    background: #6086a4;
}
#left h2{
    background: #6086a4;
    line-height: 3rem;
}
#left ul>li{
    background: #6086a4;
    line-height: 3rem;
}

#left ul{
    background-color: #6086a4;
}

h1,h2,p,h3{
    padding-left: 1rem;
}

#left > p{
    line-height: 2.5rem;
}


